/*
	BOOTSTRAP COLORS

	Primary:	#007bff
	Success:	#43a047
	Danger:		#dc3545
*/

/*
	-------------------------------------
		NAVBAR
	-------------------------------------
*/

.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.navbar-nav {
	width: 100%;
}

.nav li {
	display: inline;
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: forestgreen;
	transition: 0.7s all linear;
}

#banner {
    text-align: center;
    margin-top: 10px;
    font-size: 3em;
    color: white;
}

.menuButton{
	margin-left: 10px;
	font-size: 20px;
	padding: 0 10px 0 10px;
}

.menu-icon {
    color: white;
}

/*
	-------------------------------------
		TAGS
	-------------------------------------
*/

body {
    font-family: 'Roboto Condensed', sans-serif;
	background-color: white;
	padding-right: 0 !important;
}

/*
	-------------------------------------
		PANELS
	-------------------------------------
*/

.panel-default > .panel-heading {
	background-color: #43a047;
}

.panel-title {
	color: white;
	font-weight: bold;
	text-align: center;
}

.panel-group{
	margin: 20px;
}

/*
	-------------------------------------
		CHART INFO
	-------------------------------------
*/

.month-row,
.year-row{
	text-align: center;
}

.month-button,
.year-button{
	float: none;
    margin: 5px;
	width: 70%;
}

.month-button:hover,
.year-button:hover{
	background-color: #007bff;
    color: white;
}

#date-title-link:hover{
	text-decoration: none;
}

#date-title{
	text-align: center;
	font-weight: bold;
	color: #43a047;
}

#date-title:hover{
	color: #007bff;
	transform: scale(1.1);
}

#bill-chart-legend-button,
#debt-chart-legend-button{
	text-align: right;
}

#bill-chart-legend_dropdown,
#debt-chart-legend_dropdown{
	width: 50px;
	height: 40px;
	background-color: #007bff;
	color: white;
}

#bill-chart-legend-container{
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

#debt-chart-legend-container{
	width: 230px;
	margin-right: 7px;
	margin-left: 7px;
}

#bill-chart-failure,
#debt-chart-failure{
	text-align: center;
	color: red;
}

.dropdown-menu{
	background-color: #007bff;
}

.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.payment-header-row{
	background-color: darkgray;
}

.chart-legend{
  height:250px;
  overflow:auto;
}

.chart-legend li{
  cursor:pointer;
}

.strike{
	background-color: darkred;
    color: white;
}

.float-left{
  float:left;
}

.doughnut-chart{
	display: block;
}

/*
	-------------------------------------
		TABLES
	-------------------------------------
*/

.results {
	background-color: silver;
}

/*
	-------------------------------------
		CONFIRMATION POPUPS
	-------------------------------------
*/

.confirmation {
	width: 260px;
	margin: auto;
}

#debts_delete_confirmation_yes,
#bills_delete_confirmation_yes,
#income_delete_confirmation_yes{
	float: left;
	width: 45%;
}

#debts_delete_confirmation_no,
#bills_delete_confirmation_no,
#income_delete_confirmation_no{
	float: right;
	width: 45%;
	margin-left: 0px !important;
}

.datepicker{
	background-color: lightgray;
}

/*
	-------------------------------------
		HOMEPAGE SUMMARY INFO
	-------------------------------------
*/

.budget_column {
	width: 50%;
    text-align: center;
}

.budget_column_amount {
	width: 50%;
	text-align: left;
}

/*
	-------------------------------------
		SETTINGS
	-------------------------------------
*/

#settings-container{
	width: 100%;
	margin: 0;
}

#settings-day-container{
	margin-left: 25%;
    margin-right: 25%;
}

#settings-auto-update{
	margin: 20px;
}

#update_settings{
	width: 150px;
    height: 50px;
	font-size: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#email_now{
	margin-top: 50px;
}

.settings-option{
	margin: 20px;
}

/*
	-------------------------------------
		
	-------------------------------------
*/

@media (min-width: 768px)
{
	.navbar-nav {
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
	}
}

#date_range {
	margin-top: 5px;
}

.btn-default.btn-on.active{background-color: #5BB75B;color: white;}
.btn-default.btn-off.active{background-color: #DA4F49;color: white;}